.activity{
    margin-right: 5%;
    background-color: #FBFBFB;
    margin-bottom: -3%;
    padding: 2%;
    height: 41%;
}

.activity .recharts-default-legend{
    margin-top: -4% !important;
}

.graph{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.performance{
    background-color: #282D30;
    width: 264px;
    height: 314px;
    margin-right: 3%;
}
.performance svg{
    width: 100%;
    height: 125%;
}

.session svg{
    width: 100%;
    height: 100%;
}

.session {
    background-color: #FF0000;
    margin-right: 3%;
    width: 264px;
    height: 314px;
}

.session .titre {
    color: #FFFFFF;
    opacity: 0.5;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 0%;
}

.score{
    background-color: #FBFBFB;
    height:34%
}

.custom-tooltip-activity .poids{
    padding-bottom: 45%;
}

