.activity{
    margin-right: 5%;
    background-color: #FBFBFB;
    margin-bottom: -3%;
    padding: 2%;
    height: 41%;
}

.activity .recharts-default-legend{
    margin-top: -4% !important;
}

.graph{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.performance{
    background-color: #282D30;
    width: 264px;
    height: 314px;
    margin-right: 3%;
}
.performance svg{
    width: 100%;
    height: 125%;
}

.session svg{
    width: 100%;
    height: 100%;
}

.session {
    background-color: #FF0000;
    margin-right: 3%;
    width: 264px;
    height: 314px;
}

.session .titre {
    color: #FFFFFF;
    opacity: 0.5;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 0%;
}

.score{
    background-color: #FBFBFB;
    height:34%
}

.custom-tooltip-activity .poids{
    padding-bottom: 45%;
}

@media screen and (max-width: 1240px) {
   .activity .recharts-surface{
        width: 100%;
   }
   .activity .recharts-wrapper{
    width: 100% !important;
   }

   .activity {
    margin-bottom: 5%;
    height: 47%;
   }
   .session .recharts-wrapper{
        width: 100% !important;
        height: 86% !important;
   }
   .session{
    width: 30%;
    height: 40%;
   }

   .performance .recharts-wrapper{
    width: 100% !important;
    height: 86% !important;
    }
    .performance{
        width: 30%;
        height: 40%;
    }

    .score .recharts-wrapper{
        width: 100% !important;
        height: 86% !important;
    }
    .score{
         width: 30%;
        height: 40%;
    }

    .score svg{
        width:100% ;
        height: 100%;
    }

    .keyData {
        margin-right: 6%;
        height: 100%;
        width: 38%;
    }

    .calories, .proteines, .gluicides, .lipides {
        display: flex;
        height: 63%;
        align-items: center;
        background-color: #FBFBFB;
        margin-bottom: 57%;
        width: 100%;
        flex-wrap: wrap;
    }

    .text{
        font-size: 55%;
    }
    
    
}