.nav_vertical{
    background-color: #020203;
    display: flex;
    align-items: center;
    width: 10%;
}

.nav{
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 190%;
    width: 100%;
    align-items: center;
    height: 76%;
    margin-top: 115%;
}

.nav-img{
    width: 50%;
    margin-bottom: 20%;
}

.nav_vertical p {

    transform: rotate(-90deg);
    font-size: 44%;
    margin-top: 239%;
    width: 179%;
}
