nav{
    background-color: #020203;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Header-img{
    width: 17%;
    margin-left: 2%;
    margin-right: auto;
    margin-top: 0.4%;
    height: 100%;
}

.Header{
    display: flex;
    color: white;
    font-size: 190%;
    width: 74%;
    flex-wrap: wrap;
}

.Header p{
    padding-right: 10%;
}


@media screen and (max-width: 1240px) {
    .Header-img {
        width: 22%;
        margin-left: 2%;
        margin-right: auto;
        height: 100%;
        margin: auto;
    }
}
