body, html, #root{
  margin: 0%;
  width: 100%;
  height: 119%;
}

.contenu{
  display: flex;
}

.firstname{
  color: #FF0101;
  padding-left: 2%;
}

.Userinfo{
  display: flex;
  font-size: 150%;

}

.posts-container{
  margin-top: 3%;
  margin-left: 5%;
}

.titre p{
  font-size: 150%;
}

.stat{
  display: flex;
  flex-direction: row-reverse;
}

.keyData img{
  width: 29%;
  margin-left: 9%;
}

.calories, .proteines, .gluicides, .lipides{
  display: flex;
  height: 63%;
  align-items: center;
  background-color: #FBFBFB;
  margin-bottom: 57%;
  width: 100%;
}

.keyData{
  margin-right: 6%;
  height: 100%;
  width: 31%;
}

.text{
  margin-left: 12%;
}